<div>
  <form [formGroup]="form" (submit)="saveCourse()">
    <label for="title">Title</label>
    <input type="text" formControlName="title" />

    <p
      *ngIf="form.controls.title.dirty && form.controls.title.errors?.required"
    >
      Title is required
    </p>
    <p
      *ngIf="form.controls.title.dirty && form.controls.title.errors?.minlength"
    >
      Atleast {{ form.controls.title.errors.minlength.requiredLength }} chars
    </p>

    <label for="author">Author</label>
    <input type="text" formControlName="author" />

    <!-- <p *ngIf="authorRef.dirty && authorRef.errors?.required">
        Author is required
      </p> -->
    <label for="isPublished">Is Published</label>
    <input type="checkbox" formControlName="isPublished" />

    <!-- <p *ngIf="isPublishedRef.dirty && isPublishedRef.errors?.required">
        Is PublishedRef is required
      </p> -->
    <input type="submit" value="Save" />
  </form>
</div>
